<div style="background-image: url(assets/reg.jpg); width: 100%; height: 500%;" >
    <p class="display-6 text-white text-center mt-3">User registration form</p>

    <form class="row g-3 mt-5 bg-light p-3" #formRef="ngForm" (ngSubmit)="formRef.form.valid&&onSubmit(formRef)">
     <!-- username -->
     <div class="col-12">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="username" ngModel required #username="ngModel">
        <!-- validation for username -->
        <span class="text-danger" *ngIf="(username.touched || formRef.submitted) && username.errors?.required">
            Username is required
        </span>
    </div>
    <!-- name -->
    <div class="col-12">
        <label for="inputUsername" class="form-label">name</label>
        <input type="text" class="form-control" id="inputname" name="name" ngModel required #name="ngModel">
        <!-- validation for username -->
        <span class="text-danger" *ngIf="(name.touched || formRef.submitted) && name.errors?.required">
            Username is required
        </span>
    </div>

    <!-- password -->
    <div class="col-12">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" name="password" ngModel required
            #password="ngModel">
        <!-- validation for password -->
        <span class="text-danger" *ngIf="(password.touched || formRef.submitted) && password.errors?.required">
            Password is required
        </span>
    </div>

   
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
    </form>
</div>